#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  animation: fade-in 1200ms;
}
button{color: white;scale: .8;}
input{width: 90%;}
.task{display: flex;flex-direction: row;justify-content: space-between;margin: 10px 0px;animation: fade-in 1800ms;position: relative;}
.fade-out{animation: fade-out 600ms;}
#root{min-width: 60%;}
@keyframes fade-in {
  0% {
    opacity: 0;
    
    left: -100px;
  }
  100% {
    opacity:1;
    left: 0;
  }
}
@keyframes fade-out{
  0% {
    opacity:1;
    left: 0;
  }
  100% {
    opacity: 0;
    left: -150px;
  }
  
}

